<app-top-cards></app-top-cards>
<!-- ============================================================== -->
<!-- Sales chart -->
<!-- ============================================================== -->
<div class="row">
  <div class="col-lg-6 mt-3">
    <app-sales-summary [dataChart]="velocidade"  [categories]="cat"></app-sales-summary>
  </div>
  <div class="col-lg-6 mt-3">
    <app-sales-summary [dataChart]="aceleracao"  [categories]="cat"></app-sales-summary>
  </div>

</div>
<div class="row">

  <div class="col-lg-6 mt-3">
    <app-sales-summary [dataChart]="temperatura"  [categories]="cat"></app-sales-summary>
  </div>
  <div class="col-lg-6 mt-3">
    <app-sales-summary [dataChart]="consumo"  [categories]="cat"></app-sales-summary>
  </div>
</div>
<!-- ============================================================== -->
<!-- Sales chart -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- Table -->
<!-- ============================================================== -->
<div class="row">
  <!-- column -->

</div>
<!-- ============================================================== -->
<!-- Table -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- cards -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- cards -->
<!-- ============================================================== -->
